[Unit]
Description=https://github.com/kaihendry/vanilla-php-feedback-form
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill feedback
ExecStartPre=/usr/bin/docker pull hendry/feedback
ExecStart=/usr/bin/docker run --env-file /home/core/env.list --name feedback --rm hendry/feedback

[Install]
WantedBy=multi-user.target
